  /*************/
 /* x. Global */
/*************/
body {
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.navbar-inverse, .navbar {
  border-radius: 0;
}

h2 {
  font-size: 20px;
  padding: 0.25em;
}

#logo {
  color: #fff;
  font-size: 2em;
  padding: 0.5em;
}

#lab {
  color: #959595;
}

#right {
  float: right;
}

#burger {
  margin:0;
}

form input {
  margin: 0.5em 0;
}

.currentLink {
  color: #fff !important;
}

aside {
  overflow: scroll;
  width: 100%;
  position: fixed;
  bottom: 0;
  top: 3.7em;
  z-index: 99;
  -webkit-transition: right 0.75s;
  transition: right 0.75s;
}

    .asideClosed {
      right: -100%;
    }

    .asideOpened {
      right: 0;
      overflow: scroll;
    }

    #menuPane {
      background: #959595;
      width: 100%;
      min-height: 100%;
    }

    .fifty {
      width: 49%;
    }

    .shortLs {
      padding: 5px 15px !important;
    }

    aside a {
      color: #efefef;
    }

.iconCont {
  padding: 0.25em 1em !important;
}

.userIcon {
  width: 3em;
  height: 3em;
  padding: 0.25em;
}

.settingsIcon {
  font-size: 2.5em;
  padding: 0.33em 0 !important;
}

.taRight {
  text-align: right;
}

.inputLabel {
  margin-top: 3px;
}

.buttonLabel {
  margin-top: 6px;
}

#changeIcon {
  border: 1px solid #ccc;
  height: 11.45em;
  width: 11.45em;
}

.wideInput {
  width: 20em;
}

@media screen and (min-width: 404px) {
  aside {
    width: 50%;
    z-index: 1;
  }

  .asideClosed {
    right: -50%;
  }
}

@media screen and (min-width: 480px) {
    aside {
      width: 40%;
    }

    .asideClosed {
      right: -40%;
    }
}

@media screen and (min-width: 630px) {
  aside {
    width: 16em;
  }

  .asideClosed {
    width: -16em;
  }
}

  /************/
 /* x. Login */
/************/
#formCont {
  margin: auto;
  max-width: 20em;
  padding: 2em;
}

#signupTxt {
  padding: 1em 0;
}

  /************/
 /* x. About */
/************/
.bio {
  width: 100%;
  margin: 0 auto 2em auto;
}

    .bio * {
      display: inline-block;
      text-align: left;
    }

    .bio img {
      width: 100%;
      height: 100%;
      padding-bottom: 1em;
    }

    .bio div {
      /*padding: 0 1em;*/
      vertical-align: top;
      width: 100%;
    }

        .bio div p {
          line-height: 1.2em;
          margin-bottom: 0.5em;
        }

#heroTxt {
  margin: 7em auto;
  text-align: center;
}

#story {
  text-align: center;
  margin: auto;
}

#heroTxt, #story {
  width: 80%;
  max-width: 60em;
}

#subTxt {
  margin: 1em auto;
  width: 80%;
  max-width: 43em;
}

.noMarginTop {
  margin-top: 0;
}

// .fillImg {
//   position: absolute;
//   top:0;
//   right:0;
//   bottom:0;
//   left:0;
// }
//
// .imgCont {
//   position: relative;
// }

@media screen and (min-width: 720px) {
  #heroTxt {
    text-align: left;
  }

  .bio img {
    width: 40%;
  }

  .bio div {
    padding: 0 1em;
    vertical-align: top;
    width: 59%;
  }
}

@media screen and (min-width: 864px) {
  .bio img {
    width: 33%;
  }

  .bio div {
    padding: 0 1em;
    vertical-align: top;
    width: 66%;
  }
}

@media screen and (min-width: 960px) {
  .bio img {
    width: 25%;
  }

  .bio div {
    padding: 0 1em;
    vertical-align: top;
    width: 74%;
  }
}

@media screen and (min-width: 1024px) {
  .bio img {
    width: 16%;
  }

  .bio div {
    padding: 0 1em;
    vertical-align: top;
    width: 83%;
  }
}

  /***************/
 /* x. Settings */
/***************/
.switchCont * {
  display: inline-block;
}
