@import url(http://fonts.googleapis.com/css?family=Oswald|Play|Orbitron|Russo+One|Timmana);
@import url(http://fonts.googleapis.com/css?family=Righteous|Black+Ops+One|Vast+Shadow);

html {
  /*background: url(../images/stars.jpg) no-repeat center center fixed;*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: Oswald, sans-serif;
}

input {
  line-height: 1.3;
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  border-radius: 0.25em;
  padding: 0.1em;
}

input[type="date"]:before {
  content: attr(placeholder) !important;
  color: #aaa;
  margin-right: 0.25em;
}
input[type="date"]:focus:before,
input[type="date"]:valid:before {
  content: "";
}

button {
  padding: 0.25em;
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  border-radius: 0.25em;
}

nav ul {
  position: absolute;
  top:0;
  right:0;
}

.nav {
  width: 100%;
  background-color: #333333;
  margin: 0;
  text-align: center;
  color: #ffffff;
}

    .navBtn {
      color: #fff;
      display: inline-block;
      text-shadow: 1px 1px 2px #000000;
    }

    #top {
      font-size: 2em;
      line-height: 1.5em;
      position: fixed;
      top: 0;
      background: -moz-linear-gradient(bottom, #404040 0px, #333333 4px);
      background: -webkit-linear-gradient(bottom, #404040 0px, #333333 4px);
      background: -o-linear-gradient(bottom, #404040 0px, #333333 4px);
      background: linear-gradient(#404040 0px, #333333 4px);
      z-index: 100;
    }

    #bottom {
      font-size: 1em;
      min-height: 1.75em;
      position: fixed;
      bottom: 0;
      background: -moz-linear-gradient(top, #404040 0px, #333333 4px);
      background: -webkit-linear-gradient(top, #404040 0px, #333333 4px);
      background: -o-linear-gradient(top, #404040 0px, #333333 4px);
      background: linear-gradient(top, #404040 0px, #333333 4px);
      z-index: 10;
    }

    #bottom .navBtn {
      width: 49%;
      height: 1.5em;
      line-height: 1.5em;
    }

    #home {
      width: 20%;
    }

    #lab {
      color: #959595;
    }


    #filterCont {
      width: 59%;
    }

        #mapFilter {
          width: 95%;
          font-size: 0.5em;
          vertical-align: 30%;
        }


    #menu {
      width: 15%;
    }

        #menu img {
          height: 0.8125em;
        }

        #menu:hover {
          color: #fff;
          background-color: #404040;
        }

        #menu:active {
          background-color: #4d4d4d;
        }

    .smBtn {
      padding: 0em;
      line-height: 0.5em;
      font-size: 1em;
      height: 1em;
      width: 1em;
      /*position: fixed;*/
      background-color: #f0f0f0;
      cursor: pointer;
    }

    #titleBtn {
      padding: 0em;
      line-height: 0.5em;
      font-size: 1em;
      height: 1em;
      width: 1em;
      margin-left: 0.5em;
      background-color: #f0f0f0;
      cursor: pointer;
    }

    #share {
      position: absolute;
    }

    .asideClosed {
      right: -100%;
    }

    .asideOpened {
      right: 0;
      overflow: scroll;
    }

aside {
  overflow: scroll;
  width: 100%;
  position: fixed;
  bottom: 0;
  top: 3em;
  z-index: 99;
  -webkit-transition: right 0.75s;
  transition: right 0.75s;
}

#menuPane {
  background: #959595;
  width: 100%;
}

    .menuTitle {
      background: #e3e3e3;
      width: 100%;
      padding: 0.25em;
    }

        #user {
          padding: 0.25em 0.5em;
        }

    .menuSub li {
      padding: 0.25em 0.5em;
    }

    .bList {
      padding: 0.25em;
      margin: 0;
    }

    .link:hover {
      color: #fff;
      background-color: #404040;
      border-radius: 0.25em;
    }

    #search input {
      width: 100%;
    }

    .liLeft {
      margin-right: 2%;
      width: 48%;
    }

    .liRight {
      margin-left: 2%;
      width: 48%;
    }

    #reading input {
      margin-right: 2%;
      width: 48%;
      margin-bottom: 2%;
    }

    #reading button {
      width: 48%;
      padding: 0.25em;
    }

    #edit {
      position: absolute;
      font-size: 0.75em;
      right: 4%;
      max-width: 4em;
    }

    .delete {
      border-radius: 1.5em;
      max-width: 1.5em;
      max-height: 1.5em;
      margin-right: 0.5em;
      background-color: #ff0000;
      color: #ffffff;
      vertical-align: top;
      font-size: 0.5em;
      display: none;
    }

    .editOff {
      display: none;
    }

    .editOn {
      display: inline-block;
    }

#filterOut {
  display: none;
}

@media screen and (min-width: 404px) {
  aside {
    width: 50%;
    z-index: 1;
  }

  .asideClosed {
    right: -50%;
  }
}

@media screen and (min-width: 480px) {
    #top {
      text-align: left;
    }

    #home {
      width: 1.5em;
      padding-left: 0.34357em;
    }

    #filterCont {
      width: 6em;
      right: 1.5em;
      text-align: center;
    }

    #menu {
      width: 1.5em;
      text-align: center;
    }

    aside {
      width: 40%;
    }

    .asideClosed {
      right: -40%;
    }
}

.overlay {
  fill: none;
  pointer-events: all;
}

@media screen and (min-width: 630px) {
  aside {
    width: 16em;
  }

  .asideClosed {
    width: -16em;
  }

  #bottom {
    position: absolute;
    width: 20em;
    left: 0.34357em;
    bottom: 1em;
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    border-radius: 0.5em;
  }

.animate-if,
.animate-repeat.ng-move,
.animate-repeat.ng-enter,
.animate-repeat.ng-leave {
  -webkit-transition:all linear 0.5s;
  -moz-transition:all linear 0.5s;
  -o-transition:all linear 0.5s;
  transition:all linear 0.5s;
}

.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter {
  opacity:0;
  max-height:0;
}

.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
  opacity:1;
  max-height:40px;
}
