<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Mockup: Main Page</title>
  <script src="lib/angular.min.js"></script>
  <script src="lib/angular-animate.js"></script>
  <script src="lib/angular-route.js"></script>
  <link rel="stylesheet" href="stylesheets/bootstrap.css">
  <link rel="stylesheet" href="stylesheets/bootstrap-theme.css">
  <link rel="stylesheet" href="stylesheets/base.css"/>
  <!-- <link rel="stylesheet" href="stylesheets/map.css"> -->
  <script src="js/app.js"></script>
</head>
<!-- <body> -->
<body ng-app="satchmoApp">
<div ng-controller="infoCtrl" ng-cloak>
    <!-- <div id="signUpSplash">
      <form class="form-signin">
        <h2 class="form-signin-heading">Please sign in</h2>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="" type="email">
        <label for="inputPassword" class="sr-only">Password</label>
        <input id="inputPassword" class="form-control" placeholder="Password" required="" type="password">
        <div class="checkbox">
          <label>
            <input value="remember-me" type="checkbox"> Remember me
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </form>
    </div> -->
    <nav class="navbar navbar-inverse">
      <!-- <div class="container"> -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a id="logo" href="/" class="navbar-brand">S<span id='lab'>L</span>/S</a>
        </div>
        <div id="right" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="about.html">About</a></li>
            <li class="settingsCont"><a class="settingsIcon" href="settings.html">&#9881;</a></li>
            <li><a class="iconCont" href="user.html"><img class="userIcon" src="images/matt_icon.png"></a></li>
            <!-- <li><a href="login.html">Sign-up/Login</a></li> -->
            <li ng-click="menuView()">
              <a id="burger" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </a>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      <!-- </div> -->
    </nav>
    <section>
      <div id="heroTxt" class="container">
        <h1>Creating platforms for humanity to communicate with itself in more humane ways.</h1>
      </div>
    </section>
    <!-- <section class="imgCont">
      <img class="fillImg" src="images/madrid_2011_lg.gif">
      <div id="heroTxt">
        <h1>Creating platforms for humanity to communicate with itself in more humane ways.</h1>
      </div>
    </section> -->
    <section class="opaque">
      <div id="story" class="container">
        <div class="bio">
          <img id="mattImg" src="images/matt_ocean_sm.png">
          <div><h4 class="noMarginTop"><a href="mailto:matt@societylab.org" title="Email Matt">Matt Schultz</a></h4>
            <p>One day, a couple years ago, Matt spoke with Adam and a couple other friends about an idea that had been simmering in him to reforge social media. He knew from his training and experience facilitating inter-personal dialogues in diverse communities and schools that with the proper facilitation and space to interact, powerful interactions that enrich and transform people's world views can take place between people of vastly different viewpoints and experiences.</p>
            <p>With the Arab Spring and other protests of 2011 still in recent memory, he also knew that people throughout the world had already been bending existing commericial social media to meet their inter-personal needs. So he asked what if the techniques that allow for powerful interactions for in-person dialogue could be translated into a social media site that's not created as an advertising platform but as an interaction platform that has space for both for the curious playfulness of daily life and the more intense deliberation of serious topics?</p>
          </div>
        </div>
        <div class="bio">
          <img id="adamImg" src="images/adam.jpg">
          <div><h4 class="noMarginTop"><a href="mailto:adam@societylab.org" title="Email Adam">Adam Tolley</a></h4>
            <p>Adam was intrigued by this idea, this challenge, presented by Matt. He had been working for years in the field of web development and was also well aware of both the strengths and broken promises of the social media and internet landscape. He then decided to work with Matt to bring his technical depth, design skills, and own perspective to Matt's initial vision.</p>
            <p>Through experimentation, research, sustained dialogue, continual learning, and determination, he and Matt have developed and are implementing a site that has matured past Matt's initial vision into the foundations of what will soon be a dynamic organization dedicated to those purposes.</p>
          </div>
        </div>
      </div>
    </section>
    <aside ng-show="asideShow" ng-class='menuClass'>
      <div id="menuPane" class="col-sm-3 col-md-2 sidebar">
        <ul class="nav nav-sidebar">
          <li>
            <form class="form-signin">
              <h2 class="form-signin-heading">Search All Satchmo</h2>
              <label for="inputTags" class="sr-only">Tags</label>
              <input id="inputTags" class="form-control" placeholder='tags (comma-separated)' required="" autofocus="">
              <label for="inputStartDate" class="sr-only">StartDate</label>
              <input id="inputStartDate" class="form-control" placeholder='start date' required="" autofocus="">
              <label for="inputEndDate" class="sr-only">EndDate</label>
              <input id="inputEndDate" class="form-control" placeholder='end date' required="" autofocus="">
              <label for="inputKeywords" class="sr-only">Keywords</label>
              <input id="inputKeywords" class="form-control" placeholder='title keywords' required="" autofocus="">
              <div class="checkbox">
              <button class="btn btn-sm btn-primary fifty" type="search">Search</button>
              <button class="btn btn-sm btn-primary fifty" type="search">Serendipity</button>
            </form>
          </li>
        </ul>
        <a href="login.html">Sign-in/Sign-up</a> to create Bookmarks and a Readling List
        <ul class="nav nav-sidebar">
          <h2>SocietyLab Sites</h2>
          <li class="active"><a class="shortLs" href="#">Satchmo<span class="sr-only">(current)</span></a></li>
          <li><a class="shortLs" href="#users">Discover Users</a></li>
          <li><a class="shortLs" href="#hancock">Hancock</a></li>
          <li><a class="shortLs" href="#monk">Monk</a></li>
        </ul>
      </div>
    </aside>
  </div>
</body>
</html>
