<!DOCTYPE html>
<html lang="en">
<head>
  <link href='http://fonts.googleapis.com/css?family=Oswald:300' rel='stylesheet' type='text/css'>
  <meta charset="UTF-8">
  <title>Satchmo</title>
  <link rel="stylesheet" href="styles/reset.css">
  <link rel="stylesheet" href="styles/map.css">
  <script src="lib/d3/d3.min.js"></script>
  <script src="lib/angular.min.js"></script>
  <script src="lib/angular-animate.js"></script>
  <script src="lib/angular-route.js"></script>
  <script src="lib/underscore.js"></script>
  <script src="scripts/mapData.js"></script>
  <script src="scripts/app.js"></script>
  <!-- <script src="scripts/controllers/infoCtrl.js"></script>
  <script src="scripts/controllers/asideCtrl.js"></script> -->
  <script src="scripts/services/d3.js"></script>
  <script src="scripts/directives/map.js"></script>
  <script src="scripts/fakedata.js"></script>
  <meta name="viewport" content="width=device-width"/>
</head>
<body ng-app="satchmoApp">
<div ng-controller="infoCtrl" ng-cloak>
  <ul class='nav' id='top'>
      <li id='home' class='navBtn'>S<span id='lab'>L</span>/S</li>
      <li id='filterCont' class='navBtn' ng-click='menu.off()'>
          <form oninput="amount.value=mapFilter.value">
              <input type="text" name="search" id='mapFilter' placeholder='filter map...'>
              <output name="amount" for="search" id='filterOut'></output>
          </form>
      </li>
      <li id='menu' class='navBtn inactiveTab' ng-click="menuView()"><img src='images/menu.png'></li>
  </ul>
  <div id="map">
    <d3-map on-click="d3OnClick(item, children)" clicked="clicked" filtered="pubFilter(info, status)" submitted="submit"></d3-map>
  </div>
  <nav class='nav' id='bottom' ng-class='bottomClass'>
      <ul>
          <button id='paneReset' class='smBtn'>r</button>
          <li id="info" class='navBtn' ng-class='infoClass' ng-click='infoBox()'><div ng-class='iClass'>i</div></li>
          <li id="add" class='navBtn' ng-class='addClass' ng-click='addBox(); focusInput=true'>+</li>
      </ul>
      <div id='tabCont' ng-class='tabContClass'>
          <section id='infoTab' ng-show='infoTabShow' ng-class='tabContSectClass'>
              <div class='title'>{{name}}<a href={{url}} target="_blank"><button id="titleBtn" ng-show='titleShow'>o</button></a></div>
              <button id="share" class="smBtn" onclick="">s</button>
                <div class="infoLine" id='lineOne' ng-style="{'white-space': lineOneStyle}">{{lineOne}}</div>
                <div class="infoLine">{{lineTwo}}</div>
                <div class="infoLine">{{lineThree}}</div>
                <div class="infoLine">{{lineFour}}</div>
                <div  ng-repeat="tag in tags track by tag" class="infoLine tagLine">
                  <div class="tagDiv" ng-click="click(tag)"> {{tag}} </div>
                </div>
                <div  ng-repeat="article in articles track by article.name | orderBy: '-date'" id='test' class="infoLine artTitles">
                  <div class="leftAlign" ng-click="click(article.name)"> • {{article.name}} (NY Times) {{article.date}}</div><a href={{article.url}} target="_blank"><button class="smBtn open">o</button></a></div>
          </section>
          <!-- <section id='addTab' ng-show='addTabShow' ng-class='tabContSectClass'>
              <input id="titleSubmit" class='addInputs' type="text" ng-model="articleAdd" placeholder="Enter article title..." focus-me="focusInput"/></input>
              <input id="tagsSubmit" class='addInputs' type="text" ng-model="tagsAdd" placeholder="Enter article tags (comma-separated)..."/></input>
              <input id="urlSubmit" class='addInputs' type="url" ng-model="urlAdd" placeholder="Enter article url..."/></input>
            <button id="addSubmit" ng-click="submit()">Submit</button>
            <button id="addCancel" ng-click="cancel()">Cancel</button>
          </section> -->
          <form id='addTab' ng-submit="submit()" ng-controller="submitCtrl" ng-show='addTabShow' ng-class='tabContSectClass'>
              <input id="titleSubmit" class='addInputs' type="text" ng-model="articleAdd" placeholder="Enter article title..." focus-me="focusInput"/></input>
              <input id="tagsSubmit" class='addInputs' type="text" ng-model="tagsAdd" placeholder="Enter article tags (comma-separated)..."/></input>
              <input id="urlSubmit" class='addInputs' type="url" ng-model="urlAdd" placeholder="Enter article url..."/></input>
            <input type="submit" value="Submit"  id="addSubmit" ng-click="submit()"/>
            <button id="addCancel" ng-click="cancel()">Cancel</button>
          </form>
      </div>
  </nav>

  <aside ng-show="asideShow" ng-class='menuClass'>
    <ul id='menuPane'>
      <li><div id='user' class='link'><a href='404.html'>(My Username & Icon)</a></div></li>
      <li><div class='menuTitle'>SocietyLab Subsites</div>
        <ul class='menuSub'>
            <li class='link'><a href='404.html'>Hancock</a></li>
            <li class='link'><a href='404.html'>Monk</a></li>
        </ul>
      </li>
      <li><div class='menuTitle'>Search Satchmo</div>
        <ul class='menuSub' id='search'>
          <li><input id='siteSearch' placeholder='tags (comma-separated)' type='text'></input></li>
          <li><input id='startDate' class='splashInput' placeholder='start date' type='date'></input></li>
          <li><input id='endDate' class='splashInput' placeholder='end date' type='date'></input></li>
          <li><input id='keywords' class='splashInput' placeholder='title keywords' type='text'></input></li>
          <li><button class='liLeft'>Search</button><button class='liRight'>Serendipity</button></li>
        </ul>
      </li>
      <li id='reading' ng-controller="asideCtrl"><div class='menuTitle'>Reading List <button id='edit' ng-click='editList()'>{{edit}}</button></div>
        <ul class='menuSub'>
          <li>
            <input type="search" ng-model="filterBookmarks" placeholder="filter list"/></input>
            <button>View as Map</button>
          </li>
          <li ng-repeat="bookmark in bookmarks | filter:filterBookmarks" class="animate-repeat">
                <div class="bList link"><button class='delete' ng-class='editing' onclick='deleteLink()'>-</button><a href={{bookmark.url}} target='_blank'>{{bookmark.title}}</a></div>
          </li>
        </ul>
      </li>
      <li><div class='menuTitle'>Settings</div>
        <ul class='menuSub'>
          <li class='link'>Account</li>
          <li class='link'>Settings</li>
          <li class='link'>Log Out</li>
        </ul>
    </ul>
  </aside>

  <!-- <aside id='login' ng-show="asideShow" ng-class='menuClass'>
    <section id='menuPane'>
      <h4>Login to see your bookmarks.</h4>
        <input placeholder="username..."/></input>
        <input placeholder="password..."/></input><br>
        <button class="btn">Login</button>
    </section>
    <hr>
    <section>
      <h4>Sign-up to bookmark interesting links.</h4>
        <input placeholder="create username..."/></input>
        <input placeholder="create password..."/></input>
        <input placeholder="confirm password..."/></input><br>
        <button class="btn">Sign-up</button>
    </section>
  </aside> -->

  </div>

  <script type="text/javascript">
//***********
//* WebFont *
//***********

  WebFontConfig = {
    google: { families: [ 'Oswald:300:latin' ] }
  };
  (function() {
    var wf = document.createElement('script');
    wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
    '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
    wf.type = 'text/javascript';
    wf.async = 'true';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(wf, s);
  })();

  </script>
</body>
</html>
