<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Mockup: Main Page</title>
  <script src="lib/angular.min.js"></script>
  <script src="lib/angular-animate.js"></script>
  <script src="lib/angular-route.js"></script>
  <link rel="stylesheet" href="stylesheets/bootstrap.css">
  <link rel="stylesheet" href="stylesheets/bootstrap-theme.css">
  <link rel="stylesheet" href="stylesheets/bootstrap-switch.css">
  <link rel="stylesheet" href="stylesheets/base.css"/>
  <!-- <link rel="stylesheet" href="stylesheets/map.css"> -->
  <script src="js/app.js"></script>
  <script src="js/jquery.min.js"></script>
  <script src="js/bootstrap.js"></script>
  <script src="js/bootstrap-switch.js"></script>
  <script src="js/highlight.js"></script>
  <script src="js/main.js"></script>
</head>
<!-- <body> -->
<body ng-app="satchmoApp">
<div ng-controller="infoCtrl" ng-cloak>
    <!-- <div id="signUpSplash">
      <form class="form-signin">
        <h2 class="form-signin-heading">Please sign in</h2>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="" type="email">
        <label for="inputPassword" class="sr-only">Password</label>
        <input id="inputPassword" class="form-control" placeholder="Password" required="" type="password">
        <div class="checkbox">
          <label>
            <input value="remember-me" type="checkbox"> Remember me
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </form>
    </div> -->
    <nav class="navbar navbar-inverse">
      <!-- <div class="container"> -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a id="logo" href="/" class="navbar-brand">S<span id='lab'>L</span>/S</a>
        </div>
        <div id="right" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="about.html">About</a></li>
            <li class="settingsCont"><a class="settingsIcon" href="settings.html">&#9881;</a></li>
            <li><a class="iconCont" href="user.html"><img class="userIcon" src="images/matt_icon.png"></a></li>
            <!-- <li><a href="login.html">Sign-up/Login</a></li> -->
            <li ng-click="menuView()">
              <a id="burger" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </a>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      <!-- </div> -->
    </nav>
    <div class="container">
      <div class="page-header">
        <h1>Settings</h1>
      </div>
      <p class="lead">My Information</p>
      <div class="row">
        <div class="col-md-2 taRight">
          <p>Change Icon:</p>
        </div>
        <div class="col-md-10">
          <p id="changeIcon"></p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2 taRight">
          <p class="inputLabel">Change Username:</p>
        </div>
        <div class="col-md-10">
          <p><input></p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2 taRight">
          <p class="inputLabel">Change Email:</p>
        </div>
        <div class="col-md-10">
          <p><input></p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2 taRight">
          <p class="inputLabel">Change Password:</p>
        </div>
        <div class="col-md-10">
          <p><input></p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2 taRight">
          <p class="inputLabel">Confirm New Password:</p>
        </div>
        <div class="col-md-10">
          <p><input></p>
        </div>
      </div><br><br>
      <p class="lead">Feed Settings</p>
      <div class="row">
        <div class="col-md-2 taRight">
          <p class="inputLabel">Followed Tags:</p>
        </div>
        <div class="col-md-10">
          <p><input class="wideInput"></p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2 taRight">
          <p class="inputLabel">Followed People:</p>
        </div>
        <div class="col-md-10">
          <p><input class="wideInput"></p>
        </div>
      </div><br><br>
      <p class="lead">Privacy</p>
      <div class="row">
        <div class="col-md-2 taRight">
          <p class="buttonLabel">Privacy aspect 1:</p>
        </div>
        <div class="col-md-10">
          <div style="width: 153px; margin: 0px 0px 10px;" class="bootstrap-switch-container"><span style="width: 51px;" class="bootstrap-switch-handle-on bootstrap-switch-primary"></span><span style="width: 51px;" class="bootstrap-switch-label">&nbsp;</span><span style="width: 51px;" class="bootstrap-switch-handle-off bootstrap-switch-default"></span><input id="switch-state" checked="" type="checkbox"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2 taRight">
          <p class="buttonLabel">Privacy aspect 2:</p>
        </div>
        <div class="col-md-10">
          <div style="width: 153px; margin: 0px 0px 10px;" class="bootstrap-switch-container"><span style="width: 51px;" class="bootstrap-switch-handle-on bootstrap-switch-primary"></span><span style="width: 51px;" class="bootstrap-switch-label">&nbsp;</span><span style="width: 51px;" class="bootstrap-switch-handle-off bootstrap-switch-default"></span><input id="switch-state" checked="" type="checkbox"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2 taRight">
          <p class="buttonLabel">Privacy aspect 3:</p>
        </div>
        <div class="col-md-10">
          <div style="width: 153px; margin: 0px 0px 10px;" class="bootstrap-switch-container"><span style="width: 51px;" class="bootstrap-switch-handle-on bootstrap-switch-primary"></span><span style="width: 51px;" class="bootstrap-switch-label">&nbsp;</span><span style="width: 51px;" class="bootstrap-switch-handle-off bootstrap-switch-default"></span><input id="switch-state" checked="" type="checkbox"></div>
        </div>
      </div>
      <br><br>
    </div>
    <aside ng-show="asideShow" ng-class='menuClass'>
      <div id="menuPane" class="col-sm-3 col-md-2 sidebar">
        <ul class="nav nav-sidebar">
          <li>
            <form class="form-signin">
              <h2 class="form-signin-heading">Search All Satchmo</h2>
              <label for="inputTags" class="sr-only">Tags</label>
              <input id="inputTags" class="form-control" placeholder='tags (comma-separated)' required="" autofocus="">
              <label for="inputStartDate" class="sr-only">StartDate</label>
              <input id="inputStartDate" class="form-control" placeholder='start date' required="" autofocus="">
              <label for="inputEndDate" class="sr-only">EndDate</label>
              <input id="inputEndDate" class="form-control" placeholder='end date' required="" autofocus="">
              <label for="inputKeywords" class="sr-only">Keywords</label>
              <input id="inputKeywords" class="form-control" placeholder='title keywords' required="" autofocus="">
              <div class="checkbox">
              <button class="btn btn-sm btn-primary fifty" type="search">Search</button>
              <button class="btn btn-sm btn-primary fifty" type="search">Serendipity</button>
            </form>
          </li>
        </ul>
        <a href="login.html">Sign-in/Sign-up</a> to create Bookmarks and a Readling List
        <ul class="nav nav-sidebar">
          <h2>SocietyLab Sites</h2>
          <li class="active"><a class="shortLs" href="#">Satchmo<span class="sr-only">(current)</span></a></li>
          <li><a class="shortLs" href="#users">Discover Users</a></li>
          <li><a class="shortLs" href="#hancock">Hancock</a></li>
          <li><a class="shortLs" href="#monk">Monk</a></li>
        </ul>
      </div>
    </aside>
  </div>
</body>
</html>
